<div class="aligner">
  <div class="aligner__item aligner__item--fixed">
    <h2>Sign up</h2>

    <%= render "form", minimum_password_length: @minimum_password_length %>

    <%= render "devise/shared/links" %>
  </div>
</div>
