<% content_for :title, "Sign Up" %>

<div class="aligner">
  <div class="list__card  list__card--primary-light aligner__item aligner__item--fixed">
    <h2>Sign up</h2>

    <%= render "form", minimum_password_length: @minimum_password_length %>
  </div>
</div>
