<% content_for :title, "Library" %>
<div class='container'>
  <h1>Library</h1>

  <section class='list'>
   <div class='list__card  list__card--primary-light'>
    <div class="grid grid--gutters">
      <div class="grid__cell">
        Title
      </div>
      <div class="grid__cell">
        Author
      </div>
    </div>
    <% @books.each do |book|  %>
      <div class="grid grid--gutters">
        <div class="grid__cell">
          <%= book.title %>
        </div>
        <div class="grid__cell">
          <%= book.author %>
        </div>
      </div>
    <% end %>
  </section>
<div> <!-- container -->
<%= link_to('Account', accounts_show_path(current_account)) %>
