<header class='banner  banner--dark  u-margin-bottom-none'>
  <div class='layout__w-wrapper  box  box--full'>
    <%= render 'logo' %>
    <div class='box  box--center box__item--bookend-right'>
      <div class='box box__item'><%= link_to('Log in', new_account_session_path, class: 'button button__secondary--1') %></div>
      <div class='box box__item'><%= link_to('Sign up', new_account_registration_path, class: 'button button__secondary--2') %></div>
    </div>
  </div>
</header>
