<%= render 'layouts/common_pages/header_with_choices' %>
<%= render 'layouts/messages' %>
<div class='layout__w-wrapper'>
  <h2>Welcome to Earth's Smallest Book Trading Store</h2>

  <section class='list'>
    <div class='list__card  list__card--compliment  u-margin--bottom'>
      <p class='list__card__text  list__card__text__lead'>Give away books you have read,</p> <p class='list__card__text'>get an unread one instead.</p>
    </div>
    <div class='list__card  list__card--primary-light'>
      <div class="grid grid--gutters">
        <div class="grid__cell">
          Title
        </div>
        <div class="grid__cell">
          Author
        </div>
      </div>
    <% @books.each do |book|  %>
      <div class="grid grid--gutters">
        <div class="grid__cell">
          <%= book.title %>
        </div>
        <div class="grid__cell">
          <%= book.author %>
        </div>
      </div>
    <% end %>
  </section>
</div> <!-- layout__w-wrapper -->
