//
// component.banner
//  - horizontal strip across the website
//
@import 'settings.colors';

.banner {
  height: 3em;
}

//
// banner__header--home
//  - only page that has buttons in it
//
.banner__header--home {
  margin: .3em;   // sizing to work with the buttons on the menu
}

//
// banner__header--plain
//   - when nothing in the banner except header
//
.banner__header--plain {
  margin: 0;
}

.banner__header--link {
  color: $scheme-dark-foreground;
  text-decoration: none;

  &:visited {
    color: $scheme-dark-foreground;
  }
}

//
// banner styling
//

.banner--dark {
  background-color: $scheme-dark-background;
  color: $scheme-dark-foreground;
}
