@import 'settings.colors';

.message {
  border-radius: 5px;
  padding: 1%;
}

.message--notice {
  background-color: $color-status-neutral;
  border: 1px solid darken($color-status-neutral, 5%);
}

.message--alert {
  background-color: $color-status-bad;
  border: 1px solid darken($color-status-bad, 5%);
}
