//
// CSS Boxes
//  - flexbox infrastructure for the application
//

.box {
  display: flex;

  &--center {
    justify-content: center;
  }

  &--column {
    flex-direction: column;
  }

  &--full {
    width: 100%;
  }

  //
  // flexbox by default should stretch - to fill the height you should do nothing but flex
  //  - this seems to work for chrome & firefox. However, Safari needs to have the height
  //    set as well.
  //
  &--hack {
    height: 100%;
  }
}

.box__item {
  align-items: center;

  + .box__item {
    margin-left: 2em;
  }

  &--main {
    flex: 1 0 auto;
  }
}

.box__item--bookend-right {
  margin-left: auto;
}
