//
// Flexbox
//  - overlap with box - do we need both?
// https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
//

@import 'settings.constants';

.aligner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 24em;        // ie 10 - 11 flexbox bug
}

.aligner__item {
  flex: 1;
}

.aligner__item--top {
  align-self: flex-start;
}

.aligner__item--bottom {
  align-self: flex-end;
}

.aligner__item--fixed {
  flex: none;
  max-width: 100%;

  // if device width is greater than or equal to $break-medium then do ...
  @media screen and (min-width: $break-medium) {
    max-width: 360px;
  }
}
