//
// layouts
//   - css objects for control over the layout elements
//

.layout__v-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

//
// layout__w-wrapper
//  - anything element that does not want to stretch to the browser borders
//    should use this.
//
.layout__w-wrapper {
  margin: 0 auto;
  max-width: 95%;
}

.layout__header {
  overflow: hidden;
  padding-bottom: .5em;
}

.layout__site {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

.layout__site__content {
  margin: 0 auto;
  width: 100%;
}

.layout__footer {
  flex-basis: 60px;
  overflow: hidden;
}
