//
// layouts
//   - css objects for control over the layout elements
//

//
// layout__v-wrapper
//  - uses all the vertical space on the browser
//
.layout__v-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

//
// layout__w-wrapper
//  - any element that does not want to stretch to the browser borders
//    should use this.
//
.layout__w-wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 95%;
}

//
// layout__footer
//  - repeated element at the bottom of the page
//
.layout__footer {
  flex: 0 0 5rem;
}

//
// layout__site
//   - the page specific information
//     - includes the title and the content
//
.layout__site {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

//
// layout__site__content
//  - the page specific information
//
.layout__site__content {
  margin: 0 auto;
  width: 100%;
}
