<header class='banner  banner--dark'>
  <div class='layout__w-wrapper'>
    <%= link_to root_path, class: 'banner__header--link' do %>
      <h1 class='banner__header--plain'>ROE</h1>
    <% end %>
  </div>
</header>
