<header class='banner--dark  u-margin--bottom--0'>
  <div class='layout__w-wrapper  box  box--full'>
    <%= render 'layouts/logo' %>
    <div class='box box--full u-margin--left'>
      <%= render 'layouts/menu' %>
    </div>
  </div>
</header>
