<header class='banner  banner--dark  u-margin-bottom-none'>
  <div class='layout__w-wrapper  box'>
    <%= render 'logo' %>
    <div class='box box--full box--hack  u-margin-left-large'>
      <%= render 'menu' %>
    </div>
  </div>
</header>
