<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class='layout__v-wrapper'>
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <div id='footer' class='footer'>
        the bottom
      <div>
    </div>
  </body>
</html>
