<!-- override the default layout of devise pages -->
<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/common_pages/header' %>
    <%= render 'messages' %>
    <%= yield %>
  </body>
</html>
